[Unit]
Decription=The SGP30 recorder 
After=tempController.target apache2.service

[Service]
Type=simple
Environment=LANG=C
ExecStart=/home/pi/src/SensorRec/sgp30.py
ExecStop=/bin/kill -WINCH ${MAINPID}
KillSignal=SIGINT
PrivateTmp=true

[Install]
WantedBy=multi-user.target
